@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("font-files/InterAlia-Thin.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-Thin.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("font-files/InterAlia-ThinItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-ThinItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("font-files/InterAlia-ExtraLight.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-ExtraLight.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("font-files/InterAlia-ExtraLightItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-ExtraLightItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("font-files/InterAlia-Light.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-Light.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("font-files/InterAlia-LightItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-LightItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("font-files/InterAlia-Regular.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-Regular.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("font-files/InterAlia-Italic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-Italic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("font-files/InterAlia-Medium.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-Medium.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("font-files/InterAlia-MediumItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-MediumItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("font-files/InterAlia-SemiBold.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-SemiBold.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("font-files/InterAlia-SemiBoldItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-SemiBoldItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("font-files/InterAlia-Bold.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-Bold.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("font-files/InterAlia-BoldItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-BoldItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("font-files/InterAlia-ExtraBold.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-ExtraBold.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("font-files/InterAlia-ExtraBoldItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-ExtraBoldItalic.woff?v={{font_v}}") format("woff");
}

@font-face {
  font-family: 'Inter Alia';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("font-files/InterAlia-Black.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-Black.woff?v={{font_v}}") format("woff");
}
@font-face {
  font-family: 'Inter Alia';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("font-files/InterAlia-BlackItalic.woff2?v={{font_v}}") format("woff2"),
       url("font-files/InterAlia-BlackItalic.woff?v={{font_v}}") format("woff");
}
