(
"peep-shavian",
"bib-shavian",
"tot-shavian",
"dead-shavian",
"kick-shavian",
"gag-shavian",
"kick-shavian.cv12",
"gag-shavian.cv12",
"fee-shavian",
"vow-shavian",
"thigh-shavian",
"they-shavian",
"so-shavian",
"zoo-shavian",
"sure-shavian",
"measure-shavian",
"church-shavian",
"judge-shavian",
"yea-shavian",
"woe-shavian",
"woe-shavian.cv12",
"loll-shavian.cv12",
"hung-shavian",
"haha-shavian",
"loll-shavian",
"roar-shavian",
"mime-shavian",
"nun-shavian",
"if-shavian",
"eat-shavian",
"egg-shavian",
"age-shavian",
"ash-shavian",
"ice-shavian",
"ado-shavian",
"up-shavian",
"on-shavian",
"oak-shavian",
"wool-shavian",
"ooze-shavian",
"out-shavian",
"oil-shavian",
"ah-shavian",
"air-shavian.cv12",
"err-shavian.cv12",
"awe-shavian",
"are-shavian",
"or-shavian",
"air-shavian",
"err-shavian",
"array-shavian",
"ear-shavian",
"ian-shavian",
"yew-shavian",
periodcentered,
ringpoint,
G.1,
Gacute.1,
Gbreve.1,
Gcaron.1,
Gcircumflex.1,
Gcommaaccent.1,
Gdotaccent.1,
Ghook.1,
Gmacron.1,
Gstroke.1,
I.1,
Iacute.1,
Ibreve.1,
Icaron.1,
Icircumflex.1,
Idblgrave.1,
Idieresis.1,
Idieresisacute.1,
Idotaccent.1,
Idotbelow.1,
Igrave.1,
Ihookabove.1,
Iinvertedbreve.1,
Imacron.1,
Iogonek.1,
Istroke.1,
Itilde.1,
Itildebelow.1,
A,
AY,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
"Alpha-latin",
"Alphaturned-latin",
Amacron,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Astroke,
Atilde,
Au,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bhook,
Bmacronbelow,
Bstroke,
Btopbar,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Chook,
Cstroke,
D,
DZ,
Eth,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dtail,
Dtopbar,
Dz,
Dzcaron,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Ereversed,
Esh,
Estroke,
Etilde,
Etildebelow,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
Fhook,
Fturned,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Glottalstop,
Gmacron,
Gstroke,
Yogh,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Hwair,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
"Iota-latin",
Istroke,
Itilde,
Itildebelow,
J,
Jcircumflex,
Jstroke,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
L,
LJ,
"LL-middleWelsh",
Lacute,
Lbar,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lj,
Lmacronbelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
Mturned,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nj,
Nlongrightleg,
Nmacronbelow,
Ntilde,
Eng,
O,
OU,
Oacute,
Obreve,
Ocaron,
Ocenteredtilde,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oi,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Phook,
Thorn,
Q,
Qhooktail,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
Rstroke,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdiagonalstroke,
Tdotaccent,
Tdotbelow,
Thook,
Tmacronbelow,
Tonefive,
Tonesix,
Tonetwo,
Tretroflexhook,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
"Upsilon-latin",
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
"V-middleWelsh",
VY,
"Gamma-latin",
Vdotbelow,
Vhook,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
Wynn,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Yloop,
Ymacron,
Yr,
Ystroke,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zhook,
Zmacronbelow,
Zstroke,
Zswashtail,
rtail,
a.1,
aacute.1,
abreve.1,
abreveacute.1,
abrevedotbelow.1,
abrevegrave.1,
abrevehookabove.1,
abrevetilde.1,
acaron.1,
acircumflex.1,
acircumflexacute.1,
acircumflexdotbelow.1,
acircumflexgrave.1,
acircumflexhookabove.1,
acircumflextilde.1,
adblgrave.1,
adieresis.1,
adieresismacron.1,
adotaccent.1,
adotbelow.1,
adotmacron.1,
agrave.1,
ahookabove.1,
ainvertedbreve.1,
amacron.1,
aogonek.1,
arighthalfring.1,
aring.1,
aringacute.1,
aringbelow.1,
atilde.1,
idotbelow.ccmp,
iogonek.ccmp,
itildebelow.ccmp,
jcrossedtail.ccmp,
jstroke.ccmp,
r.1,
racute.1,
rcaron.1,
rcommaaccent.1,
rdblgrave.1,
rdotaccent.1,
rdotbelow.1,
rdotbelowmacron.1,
rinvertedbreve.1,
rlongleg.1,
rmacronbelow.1,
rstroke.1,
rtail.1,
germandbls.1,
l.ss02,
lacute.ss02,
lbar.ss02,
lbelt.ss02,
lcaron.ss02,
lcircumflexbelow.ss02,
lcommaaccent.ss02,
ldot.ss02,
ldotbelow.ss02,
ldotbelowmacron.ss02,
lmacronbelow.ss02,
lmiddletilde.ss02,
lslash.ss02,
Bsmall,
Fsmall,
Gsmall,
Gsmallhook,
Hsmall,
Ismall,
Lsmall,
Nsmall,
OEsmall,
Rsmall,
Rsmallinverted,
Ysmall,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
"alpha-latin",
"alphaturned-latin",
amacron,
aogonek,
arighthalfring,
aring,
aringacute,
aringbelow,
atilde,
aturned,
au,
ay,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bhook,
bidentalpercussive,
bilabialclick,
bilabialpercussive,
bmacronbelow,
bmiddletilde,
bstroke,
btopbar,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
ccurl,
cdotaccent,
"chi-latin",
chook,
creversed,
cstretched,
cstroke,
d,
eth,
dbdigraph,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
dcurl,
ddotaccent,
ddotbelow,
"delta-latin",
deltaturned,
dezh,
dhook,
dmacronbelow,
dmiddletilde,
dtail,
dtopbar,
dz,
dzaltone,
dzcaron,
dzcurl,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
eopenclosed,
eopenreversed,
eopenreversedclosed,
eopenreversedhook,
ereversed,
esh,
eshcurl,
eshreversedloop,
eshsquatreversed,
estroke,
etilde,
etildebelow,
eturned,
schwa,
schwahook,
ezh,
ezhcaron,
ezhcurl,
ezhreversed,
ezhtail,
f,
fdotaccent,
fengdigraph,
fmiddletilde,
fturned,
g,
gacute,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ghook,
glottalinvertedstroke,
glottalstop,
glottalstopinverted,
glottalstopreversed,
glottalstopsmall,
glottalstopstroke,
glottalstopstrokereversed,
gmacron,
gsingle,
gstroke,
yogh,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
henghook,
hhook,
hmacronbelow,
hturned,
hturnedfishhook,
hturnedfishhookandtail,
hv,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
ij,
imacron,
iogonek,
"iota-latin",
istroke,
itilde,
itildebelow,
j,
jdotless,
jcaron,
jcircumflex,
jcrossedtail,
jdotlessstroke,
jdotlessstrokehook,
jstroke,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
kturned,
l,
lacute,
lambdastroke,
lbar,
lbelt,
lcaron,
lcircumflexbelow,
lcommaaccent,
lcurl,
ldot,
ldotbelow,
ldotbelowmacron,
lezh,
lhookretroflex,
lj,
"ll-middleWelsh",
lmacronbelow,
lmiddletilde,
longsdiagonalstroke,
longsdotaccent,
longshighstroke,
lsdigraph,
lslash,
lzdigraph,
m,
macute,
mdotaccent,
mdotbelow,
mhook,
mlonglegturned,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ncurl,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nhookretroflex,
nj,
nlegrightlong,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oi,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
"omegaclosed-latin",
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
ou,
oe,
p,
pacute,
pdotaccent,
"phi-latin",
phook,
thorn,
q,
qhook,
qhooktail,
qpdigraph,
r,
racute,
ramshorn,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rfishhook,
rfishhookreversed,
rhookturned,
rinvertedbreve,
rlongleg,
rlonglegturned,
rmacronbelow,
rstroke,
rturned,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
shook,
sswashtail,
longs,
t,
tbar,
tcaron,
tccurl,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tcurl,
tdieresis,
tdotaccent,
tdotbelow,
tesh,
thook,
tmacronbelow,
tonefive,
tonesix,
tonetwo,
tpalatalhook,
tretroflexhook,
ts,
tturned,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
"upsilon-latin",
uring,
utilde,
utildeacute,
utildebelow,
v,
"v-middleWelsh",
vdotbelow,
vhook,
vrighthook,
vtilde,
vturned,
vy,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
wring,
wturned,
wynn,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
yloop,
ymacron,
yring,
ystroke,
ytilde,
yturned,
z,
zacute,
zcaron,
zcircumflex,
zcurl,
zdotaccent,
zdotbelow,
zhook,
zmacronbelow,
zmiddletilde,
zretroflexhook,
zstroke,
zswashtail,
lsdigraph.002,
"alpha_rhotichookmod-latin.rlig",
ainferior,
binferior,
cinferior,
dinferior,
einferior,
finferior,
ginferior,
hinferior,
isubscript,
jsubscript,
kinferior,
linferior,
minferior,
ninferior,
oinferior,
pinferior,
qinferior,
rsubscript,
schwainferior,
sinferior,
tinferior,
usubscript,
vsubscript,
winferior,
xinferior,
yinferior,
zinferior,
"W-anglicana",
"w-anglicana",
Aringogonek,
Yogonek,
aringogonek,
yogonek,
Rsmallinvertedmod,
amod,
bmod,
cmod,
dmod,
emod,
fmod,
gmod,
hhookmod,
hmod,
imod,
jmod,
kmod,
lmod,
mmod,
nmod,
omod,
pmod,
rhookturnedmod,
rmod,
rturnedmod,
smod,
thetamod,
tmod,
umod,
qmod,
vmod,
wmod,
xmod,
ymod,
zmod,
Mepigraphicarchaic,
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
twostroke,
ordfeminine,
ordmasculine,
"I-cy.1",
"Yi-cy.1",
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gedescender-cy",
"Gestroke-cy",
"Gemiddlehook-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Iishorttail-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Omega-cy",
"Yat-cy",
"Eiotified-cy",
"Yuslittle-cy",
"Yuslittleiotified-cy",
"Yusbig-cy",
"Yusbigiotified-cy",
"Ksi-cy",
"Psi-cy",
"Fita-cy",
"Izhitsa-cy",
"Izhitsadblgrave-cy",
"Uk-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"EnGe-cy",
"Pemiddlehook-cy",
"Haabkhasian-cy",
"Esdescender-cy",
"Tedescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Tetse-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Cheabkhasian-cy",
"Chedescenderabkhasian-cy",
"Palochka-cy",
"Zhebreve-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Chekhakassian-cy",
"Emtail-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Dzeabkhasian-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Obarreddieresis-cy",
"Edieresis-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Yerudieresis-cy",
"Gestrokehook-cy",
"Hahook-cy",
"Hastroke-cy",
"Koppa-cy",
"Semisoftsign-cy",
"Ertick-cy",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gedescender-cy",
"gestroke-cy",
"gemiddlehook-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iishorttail-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"omega-cy",
"yat-cy",
"eiotified-cy",
"yuslittle-cy",
"yuslittleiotified-cy",
"yusbig-cy",
"yusbigiotified-cy",
"ksi-cy",
"psi-cy",
"fita-cy",
"izhitsa-cy",
"izhitsadblgrave-cy",
"uk-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kabashkir-cy",
"endescender-cy",
"enge-cy",
"pemiddlehook-cy",
"haabkhasian-cy",
"esdescender-cy",
"tedescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"tetse-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"cheabkhasian-cy",
"chedescenderabkhasian-cy",
"palochka-cy",
"zhebreve-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"chekhakassian-cy",
"emtail-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"zhedieresis-cy",
"zedieresis-cy",
"dzeabkhasian-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"obarreddieresis-cy",
"edieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"yerudieresis-cy",
"gestrokehook-cy",
"hahook-cy",
"hastroke-cy",
"koppa-cy",
"semisoftsign-cy",
"ertick-cy",
"eldescender-cy",
uni047A,
uni047B,
uni047C,
uni047D,
uni047E,
uni047F,
Iotapsili.1,
Iotadasia.1,
Iotapsilivaria.1,
Iotadasiavaria.1,
Iotapsilioxia.1,
Iotadasiaoxia.1,
Iotapsiliperispomeni.1,
Iotadasiaperispomeni.1,
Iotavaria.1,
Iotaoxia.1,
Iotavrachy.1,
Iotamacron.1,
Yot,
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
Heta,
Archaicsampi,
Pamphyliandigamma,
KoppaArchaic,
Stigma,
Digamma,
Koppa,
Sampi,
KaiSymbol,
UpsilonhookSymbol,
UpsilonacutehookSymbol,
UpsilondieresishookSymbol,
ThetaSymbol,
Sho,
SigmaLunateSymbol,
San,
SigmaLunateReversedSymbol,
SigmaLunateDottedSymbol,
SigmaLunateDottedReversedSymbol,
Alphapsili,
Alphadasia,
Alphapsilivaria,
Alphadasiavaria,
Alphapsilioxia,
Alphadasiaoxia,
Alphapsiliperispomeni,
Alphadasiaperispomeni,
Alphavaria,
Alphaoxia,
Alphavrachy,
Alphamacron,
Alphaprosgegrammeni,
Alphapsiliprosgegrammeni,
Alphadasiaprosgegrammeni,
Alphapsilivariaprosgegrammeni,
Alphadasiavariaprosgegrammeni,
Alphapsilioxiaprosgegrammeni,
Alphadasiaoxiaprosgegrammeni,
Alphapsiliperispomeniprosgegrammeni,
Alphadasiaperispomeniprosgegrammeni,
Epsilonpsili,
Epsilondasia,
Epsilonpsilivaria,
Epsilondasiavaria,
Epsilonpsilioxia,
Epsilondasiaoxia,
Epsilonvaria,
Epsilonoxia,
Etapsili,
Etadasia,
Etapsilivaria,
Etadasiavaria,
Etapsilioxia,
Etadasiaoxia,
Etapsiliperispomeni,
Etadasiaperispomeni,
Etavaria,
Etaoxia,
Etaprosgegrammeni,
Etapsiliprosgegrammeni,
Etadasiaprosgegrammeni,
Etapsilivariaprosgegrammeni,
Etadasiavariaprosgegrammeni,
Etapsilioxiaprosgegrammeni,
Etadasiaoxiaprosgegrammeni,
Etapsiliperispomeniprosgegrammeni,
Etadasiaperispomeniprosgegrammeni,
Iotapsili,
Iotadasia,
Iotapsilivaria,
Iotadasiavaria,
Iotapsilioxia,
Iotadasiaoxia,
Iotapsiliperispomeni,
Iotadasiaperispomeni,
Iotavaria,
Iotaoxia,
Iotavrachy,
Iotamacron,
Omicronpsili,
Omicrondasia,
Omicronpsilivaria,
Omicrondasiavaria,
Omicronpsilioxia,
Omicrondasiaoxia,
Omicronvaria,
Omicronoxia,
Rhodasia,
Upsilondasia,
Upsilondasiavaria,
Upsilondasiaoxia,
Upsilondasiaperispomeni,
Upsilonvaria,
Upsilonoxia,
Upsilonvrachy,
Upsilonmacron,
Omegapsili,
Omegadasia,
Omegapsilivaria,
Omegadasiavaria,
Omegapsilioxia,
Omegadasiaoxia,
Omegapsiliperispomeni,
Omegadasiaperispomeni,
Omegavaria,
Omegaoxia,
Omegaprosgegrammeni,
Omegapsiliprosgegrammeni,
Omegadasiaprosgegrammeni,
Omegapsilivariaprosgegrammeni,
Omegadasiavariaprosgegrammeni,
Omegapsilioxiaprosgegrammeni,
Omegadasiaoxiaprosgegrammeni,
Omegapsiliperispomeniprosgegrammeni,
Omegadasiaperispomeniprosgegrammeni,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
heta,
archaicsampi,
pamphyliandigamma,
sigmaLunateReversedSymbol,
sigmaLunateDottedSymbol,
sigmaLunateDottedReversedSymbol,
koppaArchaic,
stigma,
digamma,
koppa,
sampi,
kaiSymbol,
betaSymbol,
thetaSymbol,
phiSymbol,
piSymbol,
kappaSymbol,
rhoSymbol,
sigmaLunateSymbol,
yot,
epsilonLunateSymbol,
sho,
san,
rhoStrokeSymbol,
alphapsili,
alphadasia,
alphapsilivaria,
alphadasiavaria,
alphapsilioxia,
alphadasiaoxia,
alphapsiliperispomeni,
alphadasiaperispomeni,
alphavaria,
alphaoxia,
alphaperispomeni,
alphavrachy,
alphamacron,
alphaypogegrammeni,
alphavariaypogegrammeni,
alphaoxiaypogegrammeni,
alphapsiliypogegrammeni,
alphadasiaypogegrammeni,
alphapsilivariaypogegrammeni,
alphadasiavariaypogegrammeni,
alphapsilioxiaypogegrammeni,
alphadasiaoxiaypogegrammeni,
alphapsiliperispomeniypogegrammeni,
alphadasiaperispomeniypogegrammeni,
alphaperispomeniypogegrammeni,
epsilonpsili,
epsilondasia,
epsilonpsilivaria,
epsilondasiavaria,
epsilonpsilioxia,
epsilondasiaoxia,
epsilonvaria,
epsilonoxia,
etapsili,
etadasia,
etapsilivaria,
etadasiavaria,
etapsilioxia,
etadasiaoxia,
etapsiliperispomeni,
etadasiaperispomeni,
etavaria,
etaoxia,
etaperispomeni,
etaypogegrammeni,
etavariaypogegrammeni,
etaoxiaypogegrammeni,
etapsiliypogegrammeni,
etadasiaypogegrammeni,
etapsilivariaypogegrammeni,
etadasiavariaypogegrammeni,
etapsilioxiaypogegrammeni,
etadasiaoxiaypogegrammeni,
etapsiliperispomeniypogegrammeni,
etadasiaperispomeniypogegrammeni,
etaperispomeniypogegrammeni,
iotapsili,
iotadasia,
iotapsilivaria,
iotadasiavaria,
iotapsilioxia,
iotadasiaoxia,
iotapsiliperispomeni,
iotadasiaperispomeni,
iotavaria,
iotaoxia,
iotaperispomeni,
iotavrachy,
iotamacron,
iotadialytikavaria,
iotadialytikaoxia,
iotadialytikaperispomeni,
omicronpsili,
omicrondasia,
omicronpsilivaria,
omicrondasiavaria,
omicronpsilioxia,
omicrondasiaoxia,
omicronvaria,
omicronoxia,
rhopsili,
rhodasia,
upsilonpsili,
upsilondasia,
upsilonpsilivaria,
upsilondasiavaria,
upsilonpsilioxia,
upsilondasiaoxia,
upsilonpsiliperispomeni,
upsilondasiaperispomeni,
upsilonvaria,
upsilonoxia,
upsilonperispomeni,
upsilonvrachy,
upsilonmacron,
upsilondialytikavaria,
upsilondialytikaoxia,
upsilondialytikaperispomeni,
omegapsili,
omegadasia,
omegapsilivaria,
omegadasiavaria,
omegapsilioxia,
omegadasiaoxia,
omegapsiliperispomeni,
omegadasiaperispomeni,
omegavaria,
omegaoxia,
omegaperispomeni,
omegaypogegrammeni,
omegavariaypogegrammeni,
omegaoxiaypogegrammeni,
omegapsiliypogegrammeni,
omegadasiaypogegrammeni,
omegapsilivariaypogegrammeni,
omegadasiavariaypogegrammeni,
omegapsilioxiaypogegrammeni,
omegadasiaoxiaypogegrammeni,
omegapsiliperispomeniypogegrammeni,
omegadasiaperispomeniypogegrammeni,
omegaperispomeniypogegrammeni,
prosgegrammeni,
ypogegrammeni,
"One-roman",
"Two-roman",
"Three-roman",
"Four-roman",
"Five-roman",
"Six-roman",
"Seven-roman",
"Eight-roman",
"Nine-roman",
"Ten-roman",
"Eleven-roman",
"Twelve-roman",
"Fifty-roman",
"Hundred-roman",
"Fivehundred-roman",
"Thousand-roman",
"one-roman",
"two-roman",
"three-roman",
"four-roman",
"five-roman",
"six-roman",
"seven-roman",
"eight-roman",
"nine-roman",
"ten-roman",
"eleven-roman",
"twelve-roman",
"fifty-roman",
"hundred-roman",
"fivehundred-roman",
"onethousand-roman",
"Onethousandcd-roman",
"Fivethousand-roman",
"Tenthousand-roman",
"Onehundredreversed-roman",
"Onehundredthousand-roman",
"fiftyearlyform-roman",
"fiftythousand-roman",
"sixlateform-roman",
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.slash.osf,
zero.slash.tosf,
one.ss01.osf,
four.ss01.osf,
six.ss01.osf,
nine.ss01.osf,
one.ss01.tosf,
four.ss01.tosf,
six.ss01.tosf,
nine.ss01.tosf,
three.1.osf,
three.1.tosf,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.slash.circled,
one.ss01.circled,
three.1.circled,
four.ss01.circled,
six.ss01.circled,
nine.ss01.circled,
zero.box,
one.box,
two.box,
three.box,
four.box,
five.box,
six.box,
seven.box,
eight.box,
nine.box,
zero.slash.box,
one.ss01.box,
three.1.box,
four.ss01.box,
six.ss01.box,
nine.ss01.box,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.dnomf,
one.dnomf,
two.dnomf,
three.dnomf,
four.dnomf,
five.dnomf,
six.dnomf,
seven.dnomf,
eight.dnomf,
nine.dnomf,
zero.slash,
one.ss01,
four.ss01,
six.ss01,
nine.ss01,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
three.1,
zero.slash.tf,
one.ss01.tf,
four.ss01.tf,
six.ss01.tf,
nine.ss01.tf,
three.1.tf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zero.frac,
one.frac,
two.frac,
three.frac,
four.frac,
five.frac,
six.frac,
seven.frac,
eight.frac,
nine.frac,
fraction,
onefraction,
onehalf,
onethird,
onequarter,
threequarters,
fivesixths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
"mediumspace-math",
wordjoiner,
zeroWidthNoBreakSpace,
.notdef,
.null,
emquad,
emspace,
enquad,
enspace,
figurespace,
fourperemspace,
hairspace,
narrownbspace,
punctuationspace,
sixperemspace,
space,
nbspace,
thinspace,
threeperemspace,
zerowidthspace,
anoteleia,
questiongreek,
"cwi-kayahli",
"leftflattenedparenthesis-math",
"rightflattenedparenthesis-math",
plus.dnom,
minus.dnom,
equal.dnom,
parenleft.dnom,
parenright.dnom,
plus.numr,
minus.numr,
equal.numr,
parenleft.numr,
parenright.numr,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
bullet,
asterisk,
asterism,
blackleftbullet,
blackrightbullet,
bracketleftwithquill,
bracketrightwithquill,
caretSign,
caretinsertionpoint,
charactertie,
closeup,
dblverticalbar,
dottedcross,
etTironian,
exclamationquestion,
exclamdouble,
fivedotpunctuation,
flowerpunctuationmark,
fourdotmark,
fourdotpunctuation,
hyphenationpoint,
hyphenbullet,
interrobang,
invertedinterrobang,
invertedundertie,
lowasterisk,
numbersign,
onedotenleader,
overline,
paragraphreversed,
doublequestion,
questionexclamation,
referencemark,
reversedsemicolon,
slash,
backslash,
swungdash,
threedotpunctuation,
triangularbullet,
tricolon,
twoasterisksvertical,
twodotenleader,
twodotpunctuation,
undertie,
verticalfourdots,
colon.case,
bullet.case,
asterisk.case,
blackleftbullet.case,
blackrightbullet.case,
hyphenbullet.case,
triangularbullet.case,
period.tf,
comma.tf,
colon.tf,
semicolon.tf,
period.tosf,
comma.tosf,
colon.tosf,
semicolon.tosf,
hyphen,
softhyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
nonbreakinghyphen,
underscore,
underscoredbl,
hyphen.case,
endash.case,
emdash.case,
figuredash.case,
parenleftinferior,
parenrightinferior,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleftsuperior,
parenrightsuperior,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
quotedblrightreversed,
doubleprimeReversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
primeReversed,
quadrupleprime,
tripleprime,
tripleprimeReversed,
quotedbl,
quotesingle,
"gammamod-latin",
florin,
"thousand-cy",
"numeral-greek",
"lowernumeral-greek",
epsilonLunateReversedSymbol,
baht,
arrowheaddownmod,
arrowheadleftmod,
arrowheadrightmod,
arrowheadupmod,
beginhightonemod,
beginlowtonemod,
doubleapostrophemod,
downtackmod,
endhightonemod,
endlowtonemod,
lowdownarrowheadmod,
lowleftarrowheadmod,
lowleftarrowmod,
lowrightarrowheadmod,
lowringmod,
lowtildemod,
lowuparrowheadmod,
middledoubleacuteaccentmod,
middledoublegraveaccentmod,
middlegraveaccentmod,
minusmod,
openshelfmod,
plusmod,
raisedcolonmod,
ringhalfleftcentered,
ringhalfrightcentered,
shelfmod,
tonebarextrahighmod,
tonebarextralowmod,
tonebarhighmod,
tonebarlowmod,
tonebarmidmod,
unaspiratedmod,
uptackmod,
voicingmod,
crossaccentmod,
rhotichookmod,
glottalstopreversedsuperior,
blackSunWithRays,
blackstar,
whitestar,
sunWithRays,
heartWhiteSuit,
heartBlackSuit,
warningSign,
checkmark,
ballotX,
heavyBlackHeart,
A.box,
B.box,
C.box,
D.box,
E.box,
F.box,
G.box,
H.box,
I.box,
J.box,
K.box,
L.box,
M.box,
N.box,
O.box,
P.box,
Q.box,
R.box,
S.box,
T.box,
U.box,
V.box,
W.box,
X.box,
Y.box,
Z.box,
accountof,
addressedtothesubject,
aktieselskab,
alternativekeysymbol,
angstrom,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
blank,
brokenCircleNorthWestArrow,
cadauna,
centigrade,
control,
facsimile,
fahrenheit,
insertionsymbol,
kelvin,
capslock,
clear,
deleteLeftKey,
deleterightKey,
ejectsymbol,
optionKey,
pagedown,
pageup,
propellor,
returnsymbol,
leftSansSerifArrow,
lowerHalfWhiteSquare,
prescription,
projective,
raisedMcSign,
raisedMdSign,
response,
rightSansSerifArrow,
samaritansource,
servicemark,
telephone,
topHalfWhiteSquare,
versicle,
whiteLargeSquare,
at.case,
leftSansSerifArrow.case,
rightSansSerifArrow.case,
A.circled,
B.circled,
C.circled,
D.circled,
E.circled,
F.circled,
G.circled,
H.circled,
I.circled,
J.circled,
K.circled,
L.circled,
M.circled,
N.circled,
O.circled,
P.circled,
Q.circled,
R.circled,
S.circled,
T.circled,
U.circled,
V.circled,
W.circled,
X.circled,
Y.circled,
Z.circled,
austral,
bitcoin,
cedi,
cent,
colonsign,
cruzeiro,
currency,
dollar,
dong,
drachma,
euro,
eurocurrency,
franc,
germanpenny,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
livreTournois,
manat,
mill,
naira,
nordicMark,
peseta,
peso,
ruble,
rupee,
rupeeIndian,
sheqel,
spesmilo,
sterling,
tenge,
tugrik,
won,
yen,
commercialMinusSign,
equalinferior,
equalsuperior,
minusinferior,
minussuperior,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
pertenthousand,
plusinferior,
plussuperior,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
notequal.case,
greater.case,
less.case,
greaterequal.case,
lessequal.case,
plusminus.case,
approxequal.case,
asciitilde.case,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
leftTabArrow,
rightTabArrow,
leftHookArrow,
rightHookArrow,
upTipLeftArrow,
upTipRightArrow,
downTipRightArrow,
rightCornerDownArrow,
carriagereturn,
anticlockwiseOpenCircleArrow,
clockwiseOpenCircleArrow,
rightDoubleArrow,
leftDoubleArrow,
leftRightDoubleArrow,
upWhiteArrow,
upBlackArrow,
leftLongArrow,
rightlongArrow,
leftRightLongArrow,
leftLongDoubleArrow,
rightLongDoubleArrow,
leftRightLongDoubleArrow,
rightArrow.case,
leftArrow.case,
leftRightArrow.case,
rightDoubleArrow.case,
leftDoubleArrow.case,
leftRightDoubleArrow.case,
leftLongArrow.case,
rightlongArrow.case,
leftRightLongArrow.case,
leftLongDoubleArrow.case,
rightLongDoubleArrow.case,
leftRightLongDoubleArrow.case,
blackCircle,
whiteCircle,
largeCircle,
whiteBullet,
blackDiamond,
whiteDiamond,
whiteXBlackDiamond,
lozenge,
blackSquare,
whiteSquare,
whiteRoundedCornersSquare,
blackSmallSquare,
upBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
rightBlackPointer,
whiteXWhiteDiamond,
whiteBullet.case,
blackSmallSquare.case,
u1F12F,
Gcomb,
Lcomb,
Mcomb,
Ncomb,
Rcomb,
acomb,
aecomb,
alphalatincomb,
aocomb,
avcomb,
betalatincomb,
ccedillacomb,
ccomb,
dcomb,
ecomb,
ethcomb,
flattenedopenaabovecomb,
gcomb,
hcomb,
icomb,
insulardcomb,
kcomb,
lcomb,
longscomb,
mcomb,
ncomb,
ocomb,
rbelowcomb,
rcomb,
rrotundacomb,
scomb,
tcomb,
ucomb,
vcomb,
xcomb,
zcomb,
"hundredthousandssigncomb-cy",
"millionssigncomb-cy",
"titlocomb-cy",
"palatalizationcomb-cy",
"dasiapneumatacomb-cy",
"psilipneumatacomb-cy",
"pokrytiecomb-cy",
"iotifiedecomb-cy",
uni2DFF,
perispomenicomb,
koroniscomb,
dialytikatonoscomb,
ypogegrammenicomb,
tonos,
dieresistonos,
psili,
koronis,
dasia,
psilivaria,
dasiavaria,
psilioxia,
dasiaoxia,
psiliperispomeni,
dasiaperispomeni,
dialytikavaria,
dialytikaoxia,
dialytikaperispomeni,
varia,
oxia,
perispomeni,
enclosingcirclecomb,
enclosingsquarecomb,
ligaturelefthalfbelowcomb,
ligaturelefthalfcomb,
ligaturerighthalfbelowcomb,
ligaturerighthalfcomb,
VS1,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
overlinecomb,
hookabovecomb,
verticallineabovecomb,
dblverticallineabovecomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commareversedabovecomb,
commaaboverightcomb,
gravebelowcomb,
acutebelowcomb,
lefttackbelowcomb,
righttackbelowcomb,
leftangleabovecomb,
horncomb,
ringhalfleftbelowcomb,
uptackbelowcomb,
downtackbelowcomb,
palatalhookcomb,
retroflexhookcomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
bridgebelowcomb,
dblarchinvertedbelowcomb,
caronbelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
dbllowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
ringhalfrightbelowcomb,
bridgeinvertedbelowcomb,
squarebelowcomb,
seagullbelowcomb,
xabovecomb,
tildeverticalcomb,
dbloverlinecomb,
gravetonecomb,
acutetonecomb,
gbridgeabovecomb,
equalbelowcomb,
doubleverticallinebelowcomb,
leftanglebelowcomb,
nottildeabovecomb,
homotheticabovecomb,
almostequaltoabovecomb,
arrowleftrightbelowcomb,
arrowupbelowcomb,
graphemejoinercomb,
arrowheadrightabovecomb,
lefthalfringabovecomb,
fermatacomb,
xbelowcomb,
arrowheadleftbelowcomb,
arrowheadrightbelowcomb,
arrowheadrightheadupbelowcomb,
righthalfringabovecomb,
dotaboverightcomb,
asteriskbelowcomb,
doubleringbelowcomb,
zigzagabovecomb,
doublebrevebelowcomb,
doublebrevecomb,
doublemacroncomb,
doublemacronbelowcomb,
tildedoublecomb,
breveinverteddoublecomb,
arrowdoublerightbelowcomb,
acutedottedcomb,
acutegraveacutecomb,
acutemacroncomb,
adiaeresiscomb,
almostequaltobelowcomb,
arrowheadleftabovecomb,
arrowheadrightheaddownbelow,
asteriskabovecomb,
bcomb,
breveinverteddblbelowcomb,
brevemacroncomb,
conjoiningmacronbelowcomb,
conjoiningmacroncomb,
doublecircumflexcomb,
doubletildelefthalfcomb,
doubletilderighthalfcomb,
eshcomb,
fcomb,
fourdotsabovecomb,
graveacutegravecomb,
gravedottedcomb,
gravemacroncomb,
isbelowcomb,
ldoublemiddletildecomb,
macronacutecomb,
macronbrevecomb,
macrongravecomb,
macronlefthalfbelowcomb,
macronlefthalfcomb,
macronrighthalfbelowcomb,
macronrighthalfcomb,
odiaeresiscomb,
ogonekabovecomb,
olightcentralizationstrokecomb,
pcomb,
schwacomb,
snakebelowcomb,
suspensioncomb,
threedotsabovecomb,
tildelefthalfbelowcomb,
tilderighthalfbelowcomb,
tripleunderdotcomb,
udiaeresiscomb,
ulightcentralizationstrokecomb,
uptackabovecomb,
urabovecomb,
usabovecomb,
wcomb,
zigzagbelowcomb,
macronacutecomb.cn,
macrongravecomb.cn,
macronacutecomb.lc,
macrongravecomb.lc,
dasia.tonos,
psilivaria.tonos,
dasiavaria.tonos,
psilioxia.tonos,
dasiaoxia.tonos,
psiliperispomeni.tonos,
dasiaperispomeni.tonos,
varia.tonos,
oxia.tonos,
crossbar,
acutedotcomb.lc,
tildedieresiscomb.lc,
dieresisacutecomb.lc,
carondotcomb.lc,
caronnosp,
caronsubnosp,
cyrillichookleft,
dotmacroncomb.lc,
dieresismacroncomb.lc,
dieresisgravecomb.lc,
largerighthook,
tildemacroncomb.lc,
macrondieresiscomb.lc,
tildeacutecomb,
dieresiscaroncomb.lc,
cyrillichook,
ringacute.cn,
circumflexgravecomb.cn,
dieresiscaroncomb.cn,
dieresismacroncomb.cn,
carondotaccentcomb.cn,
breveacutecomb.cn,
acutedotaccentcomb.cn,
brevegravecomb.cn,
tildedieresiscomb.cn,
circumflexhookcomb.cn,
brevetildecomb.cn,
dieresisacutecomb.cn,
dotmacroncomb.cn,
macrondieresiscomb.cn,
dieresisgravecomb.cn,
tildemacroncomb.cn,
circumflextildecomb.cn,
brevehookcomb.cn,
commaaccentrotate.cn,
tonostop,
tildeacutecomb.uc,
circumflexacutecomb.cn,
_tildecross.cn,
casedieresis.cn,
casetilde.cn,
commaaccentright.cn,
cyrillictail.cn,
cyrillictic.cn,
koronisaccentleft.cn,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
yindepartingtonemod,
yangdepartingtone,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
ring.uc,
acutelowmod,
apostrophemod,
colontriangularhalfmod,
colontriangularmod,
commareversedmod,
commaturnedmod,
doubleprimemod,
glottalstopmod,
glottalstopreversedmod,
gravelowmod,
macronlowmod,
primemod,
ringhalfleft,
ringhalfright,
commaaccent,
verticallinelowmod,
verticallinemod,
i.numr,
n.numr,
bracketleftsuperior,
bracketrightsuperior,
bracketleftinferior,
bracketrightinferior,
cyrillicbreve,
istroke.ccmp,
imod.ccmp,
jmod.ccmp,
exclam.circled,
question.circled,
numbersign.circled,
hyphen.circled,
less.circled,
greater.circled,
equal.circled,
upArrow.circled,
downArrow.circled,
leftArrow.circled,
rightArrow.circled,
checkmark.circled,
ballotX.circled,
exclam.box,
question.box,
numbersign.box,
hyphen.box,
less.box,
greater.box,
equal.box,
plus.box,
minus.box,
multiply.box,
divide.box,
upArrow.box,
downArrow.box,
leftArrow.box,
rightArrow.box,
checkmark.box,
ballotX.box,
plus.circled,
minus.circled,
multiply.circled,
divide.circled,
displaycolon,
version,
_part.Y_tail,
_part.ezh,
_part.f_base,
_part.t_base,
_part.y_tail,
newGlyph.001,
debug1
)