<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1984</integer>
    <key>capHeight</key>
    <integer>1489</integer>
    <key>copyright</key>
    <string>Copyright © 2020 The Inter Project Authors (Latin, Greek and Cyrillic glyphs), copyright © 2022 Shavian.info (Shavian glyphs)</string>
    <key>descender</key>
    <integer>-495</integer>
    <key>familyName</key>
    <string>Inter Alia</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2016/12/04 18:21:54</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>3</integer>
      <integer>4</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>6</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Rasmus Andersson (Latin, Greek, Cyrillic etc.) and Evan from Shavian.info (Shavian, old style figures)</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.shavian.info/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version one.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Shavian.info</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.shavian.info/</string>
    <key>openTypeNameSampleText</key>
    <string>𐑣𐑽𐑦𐑙 𐑥𐑰 𐑚𐑴, 𐑞 𐑨𐑠𐑼 𐑔𐑮𐑳𐑖 𐑒𐑷𐑟. 𐑺 𐑘𐑹 𐑡𐑶𐑓𐑩𐑤 𐑸𐑾, 𐑲 𐑝𐑬, “𐑿 𐑢𐑪𐑯𐑑 𐑜𐑫𐑛 𐑗𐑭. 𐑧𐑕𐑱 ·𐑐𐑵-𐑻!”.</string>
    <key>openTypeNameVersion</key>
    <string>Version %d.%03d</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>7</integer>
      <integer>8</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>9</integer>
      <integer>3</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>11</integer>
      <integer>29</integer>
      <integer>30</integer>
      <integer>31</integer>
      <integer>32</integer>
      <integer>33</integer>
      <integer>34</integer>
      <integer>35</integer>
      <integer>36</integer>
      <integer>37</integer>
      <integer>38</integer>
      <integer>39</integer>
      <integer>40</integer>
      <integer>45</integer>
      <integer>47</integer>
      <integer>57</integer>
      <integer>60</integer>
      <integer>62</integer>
      <integer>64</integer>
      <integer>69</integer>
      <integer>105</integer>
    </array>
    <key>openTypeOS2WeightClass</key>
    <integer>800</integer>
    <key>openTypeVheaVertTypoAscender</key>
    <integer>1024</integer>
    <key>openTypeVheaVertTypoDescender</key>
    <integer>-1024</integer>
    <key>openTypeVheaVertTypoLineGap</key>
    <integer>2048</integer>
    <key>postscriptBlueShift</key>
    <integer>16</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-23</integer>
      <integer>0</integer>
      <integer>1117</integer>
      <integer>1140</integer>
      <integer>1489</integer>
      <real>1526.4</real>
      <integer>1972</integer>
      <integer>1984</integer>
    </array>
    <key>postscriptDefaultCharacter</key>
    <string>space</string>
    <key>postscriptDefaultWidthX</key>
    <integer>256</integer>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-495</integer>
      <integer>-483</integer>
      <integer>-443</integer>
      <integer>-396</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>283.2</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>359.20000000000005</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <real>-309.8</real>
    <key>postscriptUnderlineThickness</key>
    <real>214.4</real>
    <key>styleMapFamilyName</key>
    <string>Inter Alia Extra Bold</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Extra Bold</string>
    <key>unitsPerEm</key>
    <real>2048.0</real>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>1117</integer>
  </dict>
</plist>
